@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root
{
    --color-cuerpo-fondo: #000000;
    --color-cuerpo-base: #fbd442;
    --color-cuerpo-texto: #ffffff;
    --color-cuerpo-botones: #12c45c;
    --color-cuerpo-resultado: #920557;
    --color-cuerpo-encriptador: #4acfcf;
}

.body
{
    height: 100vh;
    width: 100%;
}

.contenido
{
    background-color: var(--color-cuerpo-fondo);
    color: var(--color-cuerpo-texto);
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px;
}

.contenido__encriptador
{
    padding-left: 50px;
    padding-top: 20px;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-cuerpo-encriptador);
}

.contenido__resultado
{
    padding: 30px;
    border-radius: 15%;
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--color-cuerpo-resultado);
}

#textoEntrada
{
    width: 75%;
    height: 75%;
    resize: none;
    border: none;
    font-family: 'Merryweather', serif;
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--color-cuerpo-texto);
}

.contenido__encriptador__botones
{
    width: 75%;
    align-items: center;
    gap: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.boton
{
    border: 2px solid var(--color-cuerpo-botones);
    border-radius: 35%;
    width: 100px;
}